parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		-
			message: '#Trait .* is used zero times#'
			path: src/Test/WorkflowTestTrait.php
		-
			message: '#Trait .* is used zero times#'
			path: src/Model/Entity/WorkflowTrait.php
		-
			message: '#Trait .* is used zero times#'
			path: src/Model/Table/WorkflowTableTrait.php
